@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    
    
}
.home{
    background-color: #1c1c1c; 
   height: 100%;
   width:95ww;
   
    
}